<p class="txtbox">
    <%- data.about.texto %>
    <br>             
    <a href="<%= data.about.link1 %>" target="_blank" rel="noopener noreferrer">
        <img class="imgs" src="/imagens/linkedin.svg" alt="LinkedIn logo" width="50">
    </a>
    
    <a href="<%= data.about.link2 %>" target="_blank">
        <img class="imgs" src="./imagens/github.svg" alt="GitHub logo" />
    </a>
</p>

<img class="foto_perfil" src="/imagens/perfil.jpeg" alt="Imagem de perfil">