<section class="container-p">
    <h2>Formação</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Alceu Maynard</b></h5>
            <p class="card-txt"><b>Ensino Médio</b><br>
                <small>Período: 2014-2016</small>
            </p>
        </div>
        <div class="card-body">
            <h5 class="card-title"><b>Fatec</b></h5>
            <p class="card-txt"><b>Curso: Desenvolvimento de Software Multiplataforma</b><br>
                <small>Período: 2024-2027</small>
            </p>
        </div>
    </div>
</section>


<section class="container-p">
    <h2>Contato</h2>
    <div class="card">
        <div class="card-body">
            <p>matheuskwta@gmail.com</p>
            <a href="https://www.linkedin.com/in/matheus-felipe-0832b52ba/">
                <img class="imgs" src="./imagens/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="https://github.com/KwMajor">
                <img class="imgs" src="./imagens/git.svg" alt="GitHub">
            </a>
        </div>
    </div>
</section>

